[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
octopus-sensing = {extras = ["lsl", "shimmer3", "tobiiglasses", "audio", "brainflow"], version = "5.0.1"}
pygame = "*"
matplotlib = "*"
pandas = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.12"
