[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
octopus-sensing = "4.2.5"
pygame = "*"
octopus-sensing-monitoring = "1.2.1"

[dev-packages]

[requires]
python_version = "3.12"
